* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #80808029;
    font-family: Raleway;
    color: rgb(92, 92, 92);
}

.limita-secao{
    max-width: 1024px;
    margin: auto;
    height: 100%;
}

header{
    width: 100%;
    height: 55px;
    background-color: #fff;
}

.logo-img{
    width: 32px;
    height: 32px;
}

.head-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.head-container p {
    font-size: 24px;
    color: #5d15d1;
    margin-left: 10px;
}

/*segunda secao*/

.capa{
    width: 100%;
    background-image: url(/imagens/bahia.jpg);
}

.formulario-div{
    padding: 50px 0;
    width: 100%;
    height: auto;
}

.formulario-cab{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
    background-color: #5d15d1;
}

.formulario-cab img{
    width: 20px;
    height: 20px;
    rotate: -45deg;
}

.formulario-cab h3{
    font-size: 14px;
    color: white;
    margin-left: 5px;
}

.formulario-cont{
    width: 100%;
    background-color: white;
    padding: 30px 25px 20px 25px;
}

.formulario-cont h2{
    font-size: 22px;
    margin-bottom: 24px;
}

.formulario-cont form {
    display: flex;
    flex-flow: column nowrap;
}

.formulario-cont form label{
    font-size: 16px;
}

.formulario-cont form input, .formulario-cont form select{
    height: 32px;
    margin: 10px 0;
    width: 100%; 
    padding: 0 5px;
}

.juntos{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.juntos div{
    width: 47%
}

.case{
    display: flex;
    flex-flow: row nowrap;
    width: 50%;  
}

.case div{
    display: flex;
    align-items: center;
    margin: 0 20px;
    flex-flow: row nowrap;
}
.case div input{
    width: 18px;
    margin-right: 5px;
}

button{
    width: 160px;
    height: 32px;
    color: white;
    background-color: #5d15d1;
    font-size: 16px;
    border: none;
    margin-top: 12px;
}

button:hover{
    cursor:pointer;
}

/*ofertas*/

.ofertas{
    display: flex;
    flex-flow: column nowrap;
    margin: 32px auto 0 auto;
}

.ofertas h2:first-child{
    font-size: 20px;
    color: black;
}
.ofertas h3{
    font-size: 16px;
    margin-bottom: 15px;
    
}

.ofertas-imagens{
    width: 100%;
    height: 375px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.metade{
    width: 50%;
    position: relative;
}

.metade2{
    width: 49%;
    display: flex;
    position: relative;
}

.metade2 h3{
    color: blaCK;
}
.metade2 div:last-of-type{
    position: absolute;
    bottom: 0px;
    background-color: white;
    width: 100%;
    padding: 12px 10px;
    line-height: 10px;
}

.tipo2, .metade{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.quarto{
    margin: 0 5px ;
    width: 46%;
    height: 48%;
    position: relative;
    transition: 200ms linear; 
}

.quarto:hover, .img-principal:hover{
    transform: scale(1.02);
}



.metade div p{
    position: absolute;
    bottom: 0;
    padding-left: 6px;
    width: 100%;
    height: 25px;
    color: white;
    font-size: 20px;
}

.metade div::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 25px;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
}

.img-principal{
    background-image: url("/imagens/rio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 200ms linear; 
}

.quarto{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image1{
    background-image: url("/imagens/manaus.jpg");
}

.image2{
    background-image: url("/imagens/saopaulo.jpg");
}

.image3{
    background-image: url("/imagens/niteroi.jpg");
}

.image4{
    background-image: url("/imagens/maranhao.jpg");
}

footer{
    background-color: #5d15d1;
    margin-top: 32px;
}

.rodape{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.box-rodape{
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
    margin: 15px 0;
    width: 250px;
}

.box-rodape h3{
    font-size: 20px;
     color: white;
     margin-bottom: 15px;
}

.box-rodape div{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 5px 0;

}

.icon{
    width: 18px;
    height: 18px;
}

.box-rodape span{
    color: white;
    font-size: 14px;
    margin-left: 10px;
}

@media(max-width:1100px){
    .limita-secao{
        width: 90%;
    }
}

@media(max-width: 768px){
    button{
        width: 100%;
    }

    .quarto:hover, .img-principal:hover{
        transform:unset;
    }

  
    .ofertas-imagens{
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content:unset;
        position: relative;
    }
    
    .metade{
        width: 100%;
        position: relative;
    }
    
    .metade2{
        width: 100%;
        display: flex;
        position:relative;
    }

    .quarto, .img-principal{
        margin: 15px 5px ;
        width: 100%;
        height: 254PX;
        position:relative;
    }

    .rodape{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
}

@media(max-width:540px){
    .juntos, .opcoes, .case{
        flex-flow: column nowrap;
    }
    .juntos div{
        width: 100%;
    }
}
